/* Pre-Congif */

:root {
    --background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.25));
    --base-pag: rgb(14, 14, 14);
    --radio-Canada: 'Radio Canada', sans-serif;
    --tech-Mono: 'Share Tech Mono', monospace;
    --style-backdrop-filter: blur(6px);
    --box-shadow-effect: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* COLORES */
    --light-blue : rgba(77,226,215,1);
    --gren:rgba(59,193,44,1);
    --blue: rgba(40,60,156,1);
    --purple: rgba(145,58,203,1);
    --base-background: #151650;
    --gold-color: #ce8d00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tech-Mono);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    transition: .5s;
    color: aliceblue;
}

/* Header, Menu bar */
.header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    transition: .3s;
}

.header-visible {
    background: var(--background);
    backdrop-filter: var(--style-backdrop-filter);
}

button {
    border: 0;
    border-radius: 4px;
    background: linear-gradient(0, rgba(0,0,0,0) 0, rgba(0,0,0,0) );
    cursor: pointer;
}

.header-menu-desktop button:hover, footer button:hover , .home-button:hover{
    background: linear-gradient(0, rgba(0,0,0,.3) 0, rgba(0,0,0,.3) );
    transform: scale(1.1);
    transition: .3s;
}

.header-container {
    width: auto;
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.title {
    margin-left: 40px;
}

.header-menu-desktop {
    margin-right: 1rem;
}

.header-menu-desktop button a {
    display: inline-block;
    color: aliceblue;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1rem;
    width: 100%;
}

.header-menu {
    display: inline-block;
    width: 60px;
    display: none;
}

.icon {
    color: aliceblue;
    width: 38px;
}

/* Button lenguage */

.buttonLang-container {
    margin-left: 1rem;
    width: 60px;
    height: 2rem;
    background-color: aliceblue;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid aliceblue;
}

.buttonLang {
    background-color: var(--base-background);
    height: 100%;
    color: aliceblue;
    width: 60%;
    border-radius: 30px;
    transition: .3s;
}


.buttonLang-clicked {
    transform: translateX(70%);
    background-color: var(--base-background);
}

/* Navbar Menu */

.navbar-menu {
    width: 100%;
    height: 60%;
    background:linear-gradient(180deg , rgba(255,255,254,.9) 0%, rgba(255,255,254,.9) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 4rem;
    right: 0;
    position: fixed;
    transition: .5s;
    z-index: 1;
    border-radius: 8px;
}

.navbar-menu-hidden {
    right: -100%;
}
.list-element {
    display: inline-block;
    color: var(--base-background);
    font-weight: 500;
    font-size: 3.5rem;
    width: 100%;
    transition: .2s;
}

.list-element:hover {
    background: linear-gradient(0, rgba(0,0,0,0.2), rgba(0,0,0,0.2) );
}


/* Section; Works in 4 parts (Intro, About, Experience o Tecnology, and Portfolio */

.section {
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 2rem;
}

.first-section {
    background: var(--base-background);
    display: flex;
    height: 100vh;
}
.name {
    font-size: 5rem;
}

ul li {
    list-style: none;
}

.my-name-title {
    display: inline-block;
    white-space: nowrap;
    width: 9ch;
    animation: typing 3s steps(9) alternate, blink .5s alternate step-end 7;
    overflow: hidden;
}

.fullStackDev{
    animation: 
    hidden 4s alternate;
    color: var(--gold-color);
}

@keyframes typing {
    from { width: 0; }
}

@keyframes hidden {
    0% { opacity: 0;}
    80% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes blink {
    50% { border-right: 2px solid; }
    100% { border: transparent; }
}

/* My description */

.aboutMe-section {
    max-width: 80%;
    margin: 0 auto;
    color: var(--base-background);
    display: grid;
    place-content: center;
    font-size: 1.3rem;
    grid-gap: 1rem;
    padding: 5rem 0;
    grid-template-areas: 'photo descritpion'
                         '. btn-container';
}

.card-my-self {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-photo {
    width: 80%;
    height: auto;
    max-width: 300px;
    background: var(--base-background);
    box-shadow: var(--box-shadow-effect);
    position: relative;
}    

picture {
    display: flex;
    justify-content: center;
}

.my-description {
    grid-area: descritpion;
}
.my-photo {
    margin: -25px ;
    width: 120%;
    height: 120%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    clip-path: polygon(19% 0, 100% 21%, 79% 100%, 0 80%);
    object-fit: contain;
}

.btn-container {
    grid-area: btn-container;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container button {
    margin: 0 1rem;
    height: 3rem;
    color: var(--base-background);
    border: 1px var(--base-background) solid;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0 .5rem;
    transition: .3s;
}

.btn-container button:hover {
    background: var(--base-background);
    color: aliceblue;
    transform: scale(1.1);
}

/* Skills Section */

.skills-section {
    background: var(--base-background);
}
.skills-section article {
    margin: 2rem auto;
    width: 80%;
    display: grid;
    font-size: 1.2rem;
    grid-gap: 2rem;
    grid-template-areas: 
        'title-item content-item'
        '. content-img'
        'border-article border-article';
}

.skills-section article h2 {
    grid-area: title-item;
    margin-right: 2rem;
    width: 120px;
    color: var(--gold-color);
}

.container-skills-box {
    grid-area: content-img;
    margin: 0 auto;
}

.skills-section article p {
    grid-area: content-item;
}

.border-article {
    grid-area: border-article;
    width: 100%;
    height: 1px;
    background: aliceblue;
}
/* Slider for Porfolio */

.projects {
    padding: 0;
    display: grid;
    background-color: black;
    justify-content: initial;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.container-title-projects {
    height: 400px;
    width: 100%;
    min-width: 100%;
    background-color: var(--base-background);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.project-text-area {
    background-color: var(--base-background);
    height: 100%;
    width: 100%;
    color: aliceblue;
    font-size: 1.5rem;
    transform: translateX(-100%);
    transition: .5s;
}

.container-title-projects:hover .project-text-area {
    transform: translateX(0);
}

.separacion {
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    margin-top: 1rem;
}

.description-project {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
}

.description-project, .title-project {
    padding: 0 3rem;
    padding-top: 3rem;
}
.texto-oculto {
    display: none;
}
.project-text-area:hover .texto-oculto {
    color: yellow;
    cursor: pointer;
    display: initial;
}

/* Proyectos imagenes */

.batata-bit {
    background-image: url('../assets/images/BatataBit2.PNG');
}

.drinksAPI {
    background-image: url('../assets/images/DrinksAPI.PNG');
}

.ahorcado {
    background-image: url('../assets/images/Ahorcado.PNG');
}

.climaApp {
    background-image: url('../assets/images/ClimaAPP.PNG');
}

.pokeDex {
    background-image: url('../assets/images/PokeDex.PNG');
}
/* Footer the contact bar */

footer {
    display: grid;
    height: 4rem;
    width: 100%;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: var(--base-background);
}

.footer {
    margin-left: auto;
    margin-right: auto;
}

/*Resposive Desing */

@media screen and (max-width: 900px) {

    .header-container h2 span {
        display: none;
    }

    .my-description {
        margin-left: 1rem;
    }
    .aboutMe-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 600px) {
    .header-menu-desktop {
        display: none;
    }
    .header-menu {
        display: inline-block;
    }

    .name {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .card-my-self {
        height: auto;
    }

    .my-description {
        margin-top: 2rem;
    }

    .skills-section article {
        display: flex;
        flex-direction: column;
    }
    .container-skills-box {
        flex-direction: column;
    }
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    footer{
        grid-template-columns: repeat(4, 100px);
    }

    .contact {
        display: none;
    }
}    
@media screen and (max-width: 400px) {
    .title {
        margin-left: 20px;
    }

    .header-container h2 span {
        display: none;
    }

    .name {
        font-size: 50px;
    }
    .intro {
        display: flex;
    }
    
    footer{
        grid-template-columns: repeat(4, 60px);
        margin-bottom: 0;
    }
    .contact {
        display: none
    }
}

