/* Pre-Congif */

:root {
    --background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.25));
    --base-pag: rgb(14, 14, 14);
    --radio-Canada: 'Radio Canada', sans-serif;
    --tech-Mono: 'Share Tech Mono', monospace;
    --style-backdrop-filter: blur(6px);
    --box-shadow-effect: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* COLORES */
    --linear-gradiente: linear-gradient(180deg, rgba(59,193,44,1) 0%, rgba(40,60,156,1) 33%, rgba(145,58,203,1) 66%,rgb(203, 58, 58) 100%);
    --light-blue : rgba(77,226,215,1);
    --gren:rgba(59,193,44,1);
    --blue: rgba(40,60,156,1);
    --purple: rgba(145,58,203,1);
    --base-background: rgba(21, 22, 80,1);
    --gold-base: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(233,227,149,0.9836309523809523) 64%, rgba(253,187,45,1) 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tech-Mono);
}

html {
    scroll-behavior: smooth;
}

body {
    height: 400vh;
    width: 100%;
    transition: .5s;
    color: aliceblue;
}



/* Header, Menu bar */
.header {
    height: 4rem;
    width: 100%;
    display: flex;
    background: var(--background);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    backdrop-filter: var(--style-backdrop-filter);
}

button {
    border: 0;
    border-radius: 4px;
    background: linear-gradient(0, rgba(0,0,0,0) 0, rgba(0,0,0,0) );
    cursor: pointer;
}

button:hover {
    background: linear-gradient(0, rgba(0,0,0,.3) 0, rgba(0,0,0,.3) );
    transform: scale(1.1);
    transition: .3s;
}

.header-container {
    width: auto;
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.title {
    margin-left: 40px;
}

.header-menu {
    display: inline-block;
    width: 60px;
}

.icon {
    color: aliceblue;
    width: 38px;
}

/* Container main page */

main {
    width: 100%;
    height: 25%;
}

/* Navbar Menu */

.navbar-menu {
    width: 100%;
    max-width: 500px;
    height: 20rem;
    background:linear-gradient(180deg , rgba(255,255,254,.9) 0%, rgba(255,255,254,.9) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 4rem;
    right: 0;
    position: fixed;
    transition: .5s;
    z-index: 1;
    border-radius: 8px;
}

.navbar-menu-hidden {
    right: -100%;
}
.list-element {
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: 3.5rem;
    width: 100%;
    transition: .2s;
}

.list-element:hover {
    background: linear-gradient(0, rgba(0,0,0,0.2), rgba(0,0,0,0.2) );
}


/* Section; Works in 4 parts (Intro, About, Experience o Tecnology, and Portfolio */

.section {
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 2rem;
}

.first-section {
    background: var(--base-background);
    display: flex;
}
.name {
    font-size: 150px;
}

ul li {
    list-style: none;
}

.frontendDev {
    display: none;
}

.my-name-title {
    display: inline-block;
    white-space: nowrap;
    border-right: 2px solid;
    width: 10ch;

    animation: typing 3s steps(10) infinite alternate, blink .5s infinite alternate step-end;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}
/* My description */

.aboutMe-section {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--base-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}

.card-my-self {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-photo {
    width: 80%;
    height: auto;
    max-width: 300px;
    background: var(--base-background);
    box-shadow: var(--box-shadow-effect);
    position: relative;
}    

picture {
    display: flex;
    justify-content: center;
}
.my-photo {
    margin: -25px ;
    width: 120%;
    height: 120%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    clip-path: polygon(19% 0, 100% 21%, 79% 100%, 0 80%);
    object-fit: contain;
}


/* Skills Section */

.container-skills-svg {
    height: 22rem;
    background: linear-gradient(0 ,rgba(0,0,0,.5) , rgba(0,0,0,.5));
    border-radius: 8px;
    border: aliceblue 2px solid;
}

.container-skills-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-icons-tecnology .vanilla, .frameworks {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.frameworks {
    margin-top: 1.65rem;
}

.skills-section {
    justify-items: center;
    background: var(--base-background);
}

.tecnologias {
    width: 45%;
}
/* Slider for Porfolio */

.projects {
    padding: 0;
    display: flex;
    position: relative;
    justify-content: initial;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.container-title-projects {
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-image: linear-gradient( rgba(0,0,0,.5) 0, rgba(0,0,0,.5) 100%), url('https://cdn.pixabay.com/photo/2018/05/18/15/30/web-design-3411373_960_720.jpg');
    background-color: var(--base-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.project-text-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,.5) 0, rgba(0,0,0,.5) 100%);
    margin: 0 auto;
    height: auto;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    top: 25rem;
}

.separacion {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 1rem;
}

.description-project {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
}

.description-project, .title-project {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Proyectos imagenes */

.batata-bit {
    background-image: linear-gradient( rgba(0,0,0,.3) 0, rgba(0,0,0,.3) 100%), url('../assets/images/BatataBit2.PNG');
}

.drinksAPI {
    background-image: linear-gradient( rgba(0,0,0,.3) 0, rgba(0,0,0,.3) 100%), url('../assets/images/DrinksAPI.PNG');
}

.ahorcado {
    background-image: linear-gradient( rgba(0,0,0,.3) 0, rgba(0,0,0,.3) 100%), url('../assets/images/Ahorcado.PNG');
}

.climaApp {
    background-image: linear-gradient( rgba(0,0,0,.3) 0, rgba(0,0,0,.3) 100%), url('../assets/images/ClimaAPP.PNG');
}

.pokeDex {
    background-image: linear-gradient( rgba(0,0,0,.3) 0, rgba(0,0,0,.3) 100%), url('../assets/images/PokeDex.PNG');
}
/* Footer the contact bar */

footer {
    display: grid;
    height: 4rem;
    width: 100%;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    background: var(--background);
    backdrop-filter: var(--style-backdrop-filter);
    z-index: 3;
}

.footer {
    margin-left: auto;
    margin-right: auto;
}


/* Animation */ 

@keyframes skillsMoveLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes skillsMoveRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Resposive Desing */

@media (max-height: 450px) {
    aside ul {
        margin-top: 200px;
        margin-left: 20px;
    }
}

@media (max-width: 860px) {
    .name {
        font-size: 100px;
    }

    .my-description {
        margin-left: 1rem;
    }
}

@media (max-width: 600px) {
    .header-container h2 span {
        display: none;
    }

    .aboutMe-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-skills-box {
        flex-direction: column;
    }
    .name {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .frontendDev {
        display: inline;
    }

    .card-my-self {
        height: auto;
    }

    .my-description {
        margin-top: 2rem;
    }

    .tecnologias {
        width: 100%;
    }

    .container-skills-svg {
        height: auto;
    }

    footer{
        grid-template-columns: repeat(4, 100px);
    }

    .contact {
        display: none;
    }
}    
@media (max-width: 400px) {
    .title {
        margin-left: 20px;
    }

    .header-container h2 span {
        display: none;
    }

    .name {
        font-size: 50px;
    }
    .intro {
        display: flex;
    }
    
    footer{
        grid-template-columns: repeat(4, 60px);
        margin-bottom: 0;
    }
    .contact {
        display: none
    }
}

